* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand_light: #F67841;
  --brand_mid: #F3541C;
  --brand_dark: #E43A12;

  --text_primary: #292524;
  --text_secondary: #57534E;
  --text_tertiary: #8F8881;
  --text_highlight: #E43A12;

  --surface_primary: #FFFFFF;
  --surface_secondary: #FEE7D6;
  --surface_disabled: #E7E5E4;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  --semantic_error: #DC2626;

  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A5;


/*fonts*/
  --font-poppins: 'Poppins', sans-serif;

/*Variações de tamano */
  --text: 400 1rem/1.5 var(--font-poppins);
  --text_sm: 400 .875rem/1.4 var(--font-poppins);

}

